@page
@using WEB_153505_Vlasenko.Areas.Admin.Pages;
@model IndexModel

@{
	ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
	<a asp-page="Create">Create New</a>
</p>
@{
	await Html.RenderPartialAsync("_ProductCardsAndPagerPartial", new
	{
		CurrentPage = Model.CurrentPage,
		TotalPages = Model.TotalPages,
		Clothes = Model.Clothes,
		InAdminArea = true,
	});
}
<br />
<br />
<br />
