
Programming/lab1/lab1/.vs/

Programming/lab1/lab1/_153501_Vlasenko/bin/

Programming/lab1/lab1/_153501_Vlasenko/obj/

Programming/lab2/.vs/

Programming/lab2/task1/bin/

Programming/lab2/task1/obj/

Programming/lab2/task1Test/bin/

Programming/lab2/task1Test/obj/

Programming/lab2/task2/bin/

Programming/lab2/task2/obj/

Programming/lab2/task2Test/bin/

Programming/lab2/task2Test/obj/
