
Programming/lab1/lab1/.vs/

Programming/lab1/lab1/_153501_Vlasenko/bin/

Programming/lab1/lab1/_153501_Vlasenko/obj/

Programming/lab2/.vs/

Programming/lab2/task1/bin/

Programming/lab2/task1/obj/

Programming/lab2/task1Test/bin/

Programming/lab2/task1Test/obj/

Programming/lab2/task2/bin/

Programming/lab2/task2/obj/

Programming/lab2/task2Test/bin/

Programming/lab2/task2Test/obj/

OAiP/LAB1/.vs/

*.Release

*.Debug

*.stash

OAiP/LAB1/build-task1-Desktop_Qt_6_2_3_MSVC2019_64bit-Debug/Makefile

*.obj

*.pdb

*.ilk

OAiP/LAB1/build-task1-Desktop_Qt_6_2_3_MSVC2019_64bit-Debug/debug/moc_predefs.h

OAiP/LAB1/build-task1-Desktop_Qt_6_2_3_MSVC2019_64bit-Debug/debug/

OAiP/LAB1/build-task1-Desktop_Qt_6_2_3_MSVC2019_64bit-Debug/

OAiP/LAB1/LAB1.sln

OAiP/LAB1/LAB1/x64/Debug/LAB1.tlog/

*.props

OAiP/LAB1/LAB1/x64/Debug/uic/

*.log

*.res

OAiP/LAB1/LAB1/x64/Debug/LAB1.vcxproj.FileListAbsolute.txt

*.pch

*.recipe

*.cbt

*.pro

*.vcxproj

*.filters

OAiP/LAB1/LAB1/x64/Debug/qmake/temp/

OAiP/LAB1/LAB1/x64/Debug/moc/

OAiP/LAB1/LAB1/x64/Debug/rcc/

*.tlog

*.idx

OAiP/LAB1/LAB1/x64/

*.ico

*.qrc

*.rc

*.user

OAiP/LAB1/LAB1/stdafx.cpp

OAiP/LAB1/LAB1/stdafx.h

OAiP/LAB1/task2/x64/Debug/

OAiP/LAB1/task2/x64/Release/

OAiP/LAB1/task2/stdafx.h

OAiP/LAB1/task2/stdafx.cpp

OAiP/LAB1/task3/x64/

OAiP/LAB1/task3/stdafx.h

OAiP/LAB1/task3/stdafx.cpp

OAiP/LAB1/task4/x64/

OAiP/LAB1/task4/stdafx.h

OAiP/LAB1/task4/stdafx.cpp

OAiP/LAB1/task5_6/x64/

OAiP/LAB1/fgd.txt

OAiP/LAB1/x64/

OAiP/lab2/.vs/

OAiP/lab2/x64/

OAiP/lab2/lab2.sln

OAiP/lab2/task1/x64/

OAiP/lab2/task1/stdafx.h

OAiP/lab2/task1/stdafx.cpp

OAiP/lab2/task1/task1.ui

OAiP/lab2/task1/unique_ptr.cpp

*.cd

OAiP/lab2/task2/x64/

OAiP/lab2/task2/stdafx.h

OAiP/lab2/task2/stdafx.cpp

OAiP/lab2/task2/task2.ui

Programming/lab3/.vs/

Programming/lab3/task1/bin/

Programming/lab3/task1/obj/

*.csproj

Programming/lab3/task1Tests/bin/

Programming/lab3/task1Tests/obj/

Programming/lab3/task3/bin/

Programming/lab3/task3/obj/

Programming/lab3/task3Tests/bin/

Programming/lab3/task3Tests/obj/

*.sln
 /bin
 /obj
Programming/lab4/.vs/

Programming/lab4/task1/bin/

Programming/lab4/task1/obj/

Programming/lab4/task1Tests/bin/

Programming/lab4/task1Tests/obj/

Programming/lab5/.vs/

Programming/lab5/task1/obj/

Programming/lab5/task1/bin/

Programming/lab5/task1Tests/bin/

Programming/lab5/task1Tests/obj/

Programming/lab6/.vs/

Programming/lab6/task1/bin/

Programming/lab6/task1/obj/

OAiP/lab2/Smart_Pointers/.vs/

OAiP/lab2/Smart_Pointers/Smart_Pointers/x64/

Programming/lab6/task1Tests/bin/

Programming/lab6/task1Tests/obj/

OAiP/lab3/.vs/lab3/v17/.suo

*.db

*.db-shm

*.opendb

OAiP/lab3/.vs/lab3/v17/ipch/

*.db-wal

OAiP/lab3/.vs/

OAiP/lab3/x64/

OAiP/lab3/task2/x64/

*.ui

OAiP/lab3/task2/stdafx.cpp

OAiP/lab3/task2/stdafx.h

OAiP/lab3/task3/x64/

OAiP/lab3/task3/stdafx.h

OAiP/lab3/task3/stdafx.cpp

OAiP/BSUIR_Open2022/

OAiP/lab3/task1_1/x64/

OAiP/lab3/task1_1/stdafx.h

OAiP/lab3/task1_1/stdafx.cpp
/OAiP/lab3/task1_2/x64
/OAiP/lab3/task1_2/stdafx.cpp
/OAiP/lab3/task1_2/stdafx.h
/Programming/lab7/.vs/lab7
/Programming/lab7/task1/obj
/Programming/lab7/task1/bin/Debug/net6.0
/Programming/lab7/task1Tests/bin/Debug/net6.0
/Programming/lab7/task1Tests/obj
/.vs/BSUIR/v17
/.vs
/OAiP/lab4/.vs/lab4/v17
/OAiP/lab4/Pair/x64/Debug
/OAiP/lab4/Vector/x64/Debug
/OAiP/lab4/x64/Debug
/OAiP/lab4/Bidecimal/x64
/OAiP/lab4/x64/Release
/OAiP/lab4/MyString/x64/Debug
/Programming/lab8/.vs/lab8/v17
/Programming/lab8/task1/obj
/Programming/lab8/task1/bin/Debug/net6.0
/Programming/lab8/.vs/lab8/DesignTimeBuild
/Programming/lab8/task1Tests/bin/Debug/net6.0
/Programming/lab8/task1Tests/obj
/OAiP/lab4/Parser/x64
/OAiP/lab4/VectorVisualization/x64
/OAiP/lab4/MyStringVisualization/x64
/OAiP/lab4/MyString/x64/Release
/OAiP/lab5/QueueVisualization/x64
/OAiP/lab5/.vs/lab5/v17
/OAiP/lab5/Queue/x64/Debug
/OAiP/lab5/x64/Debug
/OAiP/lab5/task/x64
/OAiP/lab5/Deque/x64/Debug
/OAiP/lab5/DequeVisualization/x64
/OAiP/lab5/x64/Release
/OAiP/lab5/Queue/x64/Release
/OAiP/lab5/Deque/x64/Release
/OAiP/lab6/.vs/lab6/v17
/OAiP/lab6/AVL_Tree/x64/Debug
/OAiP/lab6/task1/x64
/OAiP/lab6/x64/Debug
*.lock
*.vsidx
/OAiP/lab6/task2/x64
*.suo
*.ipch
/OAiP/lab7/BitSet/x64/Debug
/OAiP/lab7/Unordered_map/x64/Debug
