
Programming/lab1/lab1/.vs/

Programming/lab1/lab1/_153501_Vlasenko/bin/

Programming/lab1/lab1/_153501_Vlasenko/obj/

Programming/lab2/.vs/

Programming/lab2/task1/bin/

Programming/lab2/task1/obj/

Programming/lab2/task1Test/bin/

Programming/lab2/task1Test/obj/

Programming/lab2/task2/bin/

Programming/lab2/task2/obj/

Programming/lab2/task2Test/bin/

Programming/lab2/task2Test/obj/

OAiP/LAB1/.vs/

*.Release

*.Debug

*.stash

OAiP/LAB1/build-task1-Desktop_Qt_6_2_3_MSVC2019_64bit-Debug/Makefile

*.obj

*.pdb

*.ilk

OAiP/LAB1/build-task1-Desktop_Qt_6_2_3_MSVC2019_64bit-Debug/debug/moc_predefs.h

OAiP/LAB1/build-task1-Desktop_Qt_6_2_3_MSVC2019_64bit-Debug/debug/

OAiP/LAB1/build-task1-Desktop_Qt_6_2_3_MSVC2019_64bit-Debug/

OAiP/LAB1/LAB1.sln

OAiP/LAB1/LAB1/x64/Debug/LAB1.tlog/

*.props

OAiP/LAB1/LAB1/x64/Debug/uic/

*.log

*.res

OAiP/LAB1/LAB1/x64/Debug/LAB1.vcxproj.FileListAbsolute.txt

*.pch

*.recipe

*.cbt

*.pro

*.vcxproj

*.filters

OAiP/LAB1/LAB1/x64/Debug/qmake/temp/

OAiP/LAB1/LAB1/x64/Debug/moc/

OAiP/LAB1/LAB1/x64/Debug/rcc/

*.tlog

*.idx

OAiP/LAB1/LAB1/x64/

*.ico

*.qrc

*.rc

*.user

OAiP/LAB1/LAB1/stdafx.cpp

OAiP/LAB1/LAB1/stdafx.h

OAiP/LAB1/task2/x64/Debug/

OAiP/LAB1/task2/x64/Release/

OAiP/LAB1/task2/stdafx.h

OAiP/LAB1/task2/stdafx.cpp

OAiP/LAB1/task3/x64/

OAiP/LAB1/task3/stdafx.h

OAiP/LAB1/task3/stdafx.cpp

OAiP/LAB1/task4/x64/

OAiP/LAB1/task4/stdafx.h

OAiP/LAB1/task4/stdafx.cpp

OAiP/LAB1/task5_6/x64/

OAiP/LAB1/fgd.txt

OAiP/LAB1/x64/

OAiP/lab2/.vs/

OAiP/lab2/x64/

OAiP/lab2/lab2.sln

OAiP/lab2/task1/x64/

OAiP/lab2/task1/stdafx.h

OAiP/lab2/task1/stdafx.cpp

OAiP/lab2/task1/task1.ui

OAiP/lab2/task1/unique_ptr.cpp

*.cd

OAiP/lab2/task2/x64/

OAiP/lab2/task2/stdafx.h

OAiP/lab2/task2/stdafx.cpp

OAiP/lab2/task2/task2.ui
