.fixed-navbar {
    position: fixed;
    background-color: #d9eaf1;
    z-index: 9;
}

a:link {
    color: rgb(63, 76, 219);
}

a:visited {
    color: blueviolet;
}

a:hover {
    color: red;
}

a:active {
    color: aquamarine;
}

*:focus {
    color: rgb(5, 62, 19);
}

*::selection {
    color: red;
}

a {
    cursor: pointer;
}

button {
    cursor: pointer;
}

input[type="text"] {
    cursor: text;
}

*:disabled {
    cursor: help;
}

body {
    background: linear-gradient(90deg, #ded1d1,#d6dbd2,#a8d6ea) 
}

