.grid-container {
    display: grid;
    
    grid-template-columns: auto auto auto;
    padding: 10px;
    max-width: 1920px;
}

.grid-container>div {
    background: rgb(132, 200, 223);
    border: 1px solid;
    margin: 5px;
    padding: 5px;
}