.news {
    background-color: #edf08e;
    padding: 10px;
    margin-bottom: 5px;
    border: 2px;
    border-style: solid;
}

article>h3 {
    background-color: rgb(124, 218, 47);
}

article h3 {
    font-size: 18px;
    font-style: italic;
}

div.news_description {
    font-size: 14px;
    color: orchid;
}

#box {
    width: 100px;
    height: 100px;
    background-color: teal;
}

@media (max-width: 700px) {
    #box {
        background-color: red;
    }
}

.container {
    columns: 150px 3;
    column-rule-style: groove;
}

p.clip {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}