table,
th,
td {
    border: 1px solid black;
    padding: 8px;
    border-collapse: collapse;
}

th,
td {
    padding: 8px;
    text-align: center;
    vertical-align: middle;
}

tr:first-child:not(:empty) {
    font-weight: bold;
    color: chocolate;
}

tr:nth-child(2):not(:empty) {
    font-weight: 800;
    color: brown;
}

tr:last-child:not(:empty) {
    font-style: italic;
    color: rgb(9, 117, 31)
}

td:empty {
    background-color: black;
}

caption {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    padding: 10px;
}

td:hover {
    background-color: aquamarine;
}