{% extends "base.html" %}
{% block title %}
About us
{% endblock %}
{% block content %}
<h1>Travel Time</h1>
<p><a href="#requisites">Our requisites.</a></p>
<section>
    <h2>About us</h2>
    <p>Amelia Earhart once said: <q>Adventure is worthwhile in itself.</q></p>
    <pre>
        The woods are lovely,<wbr> dark, and deep,
        But I have promises to keep,
        And miles to go before I sleep,
        And miles to go before I sleep.
    </pre>
    <p>Our company gives you the opportunity to buy a ticket to many countries of the world, choose a hotel yourself. In
        addition to the voucher, you can purchase a certificate and please your loved ones.</p>
</section>


<section><iframe width="560" height="315" src="https://www.youtube.com/embed/MqJbmAMngTE" frameborder="1"
        allowfullscreen></iframe></section>

<section>
    <h2>History</h2>
    <ul>
        <li>2021: We founded a company and called it "Travel Time"</li>
        <li>2022: Two travel companies have become our partners at once. We started holding various promotions and
            events.
        </li>
        <li>2023: Sales have increased several times. The company entered the top 5 in the market</li>
    </ul>
</section>

<section>
    <table id="requisites" class="table table-bordered border-primary" style="vertical-align:middle;">
        <summary><strong>Requisites</strong></summary>
        <thead>
            <tr>
                <th scope="col">№</th>
                <th scope="col">Name</th>
                <th scope="col">Phone</th>
                <th scope="col">Email</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Person1</td>
                <td>+375 44 111-11-11</td>
                <td><a href="mailto:person1@gmail.com">person1@gmail.com</a></td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Person2</td>
                <td>+375 44 111-11-11</td>
                <td><a href="mailto:person2@gmail.com">person2@gmail.com</a></td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Person3</td>
                <td>+375 44 111-11-11</td>
                <td><a href="mailto:person3@gmail.com">person3@gmail.com</a></td>
            </tr>
        </tbody>
    </table>
</section>

<section>
    <h2>Gift certificates</h2>
    <div>
        <p>Certificate for a trip to Ethiopia!</p>
        <p>Congratulations, you have received a certificate for a trip to Ethiopia.
            In this wonderful country you will taste the national cuisine, see different plants and interesting animals.
        </p>
        <p>Valid until <time datetime="2023-12-23">December 23, 2023</time></p>
    </div>
</section>

{% endblock %}