{% extends "base.html" %}
{% block title %}
About us
{% endblock %}
{% block content %}
<h1>Travel Time</h1>
<section>
    <h2>About us</h2>
    <p>Our company gives you the opportunity to buy a ticket to many countries of the world, choose a hotel yourself. In
        addition to the voucher, you can purchase a certificate and please your loved ones.</p>
</section>


<section><iframe width="560" height="315" src="https://www.youtube.com/embed/MqJbmAMngTE" frameborder="1"
        allowfullscreen></iframe></section>




<section>
    <h2>History</h2>
    <ul>
        <li>2021: We founded a company and called it "Travel Time"</li>
        <li>2022: Two travel companies have become our partners at once. We started holding various promotions and
            events.
        </li>
        <li>2023: Sales have increased several times. The company entered the top 5 in the market</li>
    </ul>
</section>

<section>
    <h2>Requisites</h2>
    <ul>
        <li>Name: Travel Time</li>
        <li>Phone: 12345678</li>
        <li>Email: tt@gmail.com</li>
    </ul>
</section>

<section>
    <h2>Gift certificates</h2>
    <div>
        <p>Certificate for a trip to Ethiopia!</p>
        <p>Congratulations, you have received a certificate for a trip to Ethiopia.
            In this wonderful country you will taste the national cuisine, see different plants and interesting animals.
        </p>
        <p>Valid until <time datetime="2023-12-23">December 23, 2023</time></p>
    </div>
</section>

{% endblock %}