{% extends "base.html" %}
{% load static %}
{% block title %}
Main
{% endblock %}

<style>
    .image-row {
        display: flex;
        justify-content: space-between;
    }

    .image-row img {
        width: 33%;
    }
</style>

{% block content %}
<h1>Welcome!</h1>
<section>
    <figure><img src="{% static '/images/logo.jpg' %}" alt="logo" height="200" width="200">
        <figcaption>Remember our logo!</figcaption>
    </figure>
</section>

<section>
    <div class="image-row">
        <img src="{% static '/images/banner1.jpg' %}" alt="Banner1">
        <img src="{% static '/images/banner2.jpg' %}" alt="Banner2">
        <img src="{% static '/images/banner3.jpg' %}" alt="Banner3">
    </div>
</section>

<section>
    <h2>Last news</h2>
    <article>
        <h3>{{ latest_news.name }}</h3>
        <p>{{ latest_news.brief_description }}</p>
        <a href={{ latest_news.url }}>Read more</a>
    </article>
</section>



<section>
    <h2>Partners</h2>
    <nav itemscope itemtype="https://schema.org/Organization">
        <a href="https://exploretheplanet.world" itemprop="url"><img width="150" height="70"
                src="/media/partners/explore-the-planet-logo.png" alt="Explore the Planet logo" itemprop="image"></a>
        <br>
        <a href="https://www.vpoxod.ru/" itemprop="url"><img width="210" height="75"
                src="/media/partners/adventure-club-logo.png" alt="Adventure club logo" itemprop="image"></a>
    </nav>
</section>

{% endblock %}