{% extends "base.html" %}
{% load static %}
{% block title %}
Main
{% endblock %}
{% load static %}
{% block additional_head %}
<link href="{% static 'css/main.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<h1>Welcome!</h1>
<section>
    <figure itemscope itemtype="https://schema.org/ImageObject"><img class="logo" src="{% static '/images/logo.jpg' %}"
            alt="logo" height="200" width="200">
        <figcaption itemprop="caption"><a href="{% static '/images/logo.jpg' %}" download>Download.</a></figcaption>
    </figure>
</section>

<section>
    <div class="circular-image">
        <a href="https://www.euronews.com/travel/travel-news"><img src="{% static '/images/banner1.jpg' %}"
                alt="Banner1"></a>
    </div>
    <div class="circular-image rotating">
        <a href="https://www.travel.ru/"><img src="{% static '/images/banner2.jpg' %}" alt="Banner2"></a>
    </div>
    <div class="circular-image">
        <a href="https://minsk-travel.by/"><img src="{% static '/images/banner3.jpg' %}" alt="Banner3"></a>
    </div>
    {% if user.is_superuser %}
    <form method="POST">
        {% csrf_token %}
        <label for="interval">Interval in milliseconds:</label>
        <input type="number" id="interval" value="5000" name="milliseconds">
        <input type="submit">
    </form>
    {% endif %}
</section>

<section>
    <h2>Last news</h2>
    <article itemscope itemtype="https://schema.org/NewsArticle">
        <header itemprop="headline">{{ latest_news.name }}</header>
        <p class="last_news" itemprop="description">{{ latest_news.brief_description }}</p>
        <a href={{ latest_news.url }}>Read more</a>
    </article>
</section>



<section>
    <h2>Partners</h2>
    <nav itemscope itemtype="https://schema.org/Organization">
        <a href="https://exploretheplanet.world" itemprop="url"><img class="round" width="150" height="70"
                src="/media/partners/explore-the-planet-logo.png" alt="Explore the Planet logo" itemprop="image"></a>
        <br>
        <a href="https://www.vpoxod.ru/" itemprop="url"><img class="round" width="210" height="75"
                src="/media/partners/adventure-club-logo.png" alt="Adventure club logo" itemprop="image"></a>
    </nav>
</section>

<div>
    <video controls src="{% static 'video/sample.mp4' %}"></video>
</div>
<div>
    <audio controls src="{% static 'audio/sample.mp3' %}"></audio>
</div>
<script>
    window.milliseconds = '{{ milliseconds }}';
</script>
<script src="{% static 'js/main.js' %}" defer></script>
{% endblock %}