{% extends "base.html" %}
{% load static %}
{% block title %}
News
{% endblock %}
{% block additional_head %}
<link href="{% static 'css/news.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<h3>News:</h3>
<section>
    {% for n in news %}
    <article class="news" itemscope itemtype="https://schema.org/NewsArticle">
        <div>
            <h3 itemprop="headline">{{ n.name }}</h3>
        </div>
        <h3>Some text.</h3>
        <div class="news_description">
            <p class="clip" itemprop="description">{{ n.brief_description }}</p>
        </div>
        <a href={{ n.url }}>Read more</a>
    </article>
    {% endfor %}
</section>

<div class="container">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut iure totam culpa molestiae recusandae
    distinctio quisquam qui illum, quae ullam iusto harum placeat veniam earum pariatur vitae consequatur illo? Amet.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto autem atque nostrum accusantium praesentium molestias
    suscipit iure, consequatur error labore officiis maxime reprehenderit nihil deleniti in pariatur quaerat repellendus
    unde. Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit esse sapiente doloremque nesciunt. Possimus
    libero laborum unde placeat accusamus aperiam labore ullam, itaque rem consectetur rerum reiciendis ea alias sed.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse consequuntur at porro corrupti quasi consectetur
    suscipit nesciunt, maiores quidem deleniti modi sed doloremque tempore vel temporibus et sequi distinctio atque!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio tenetur quod corrupti! Repellat nemo laborum sed
    animi, quos quidem maiores facere odit illo doloribus, fugit perferendis, sint temporibus quaerat. Tempore!</div>

<div id="box"></div>
{% endblock %}