{% extends "base.html" %}
{% block title %}
Promo codes
{% endblock %}
{% block content %}
<hr>
<h1>Promo codes</h1>

{% if promo_codes|length > 0 %}
<h2>Available:</h2>
<ul type="disc">
    {% for promo in promo_codes %}
    {% if promo.active %}
    <li itemscope itemtype="https://schema.org/Offer">
        <p>Description: {{ promo.name }}</p>
        <p>Promo nubmer: {{ promo.promo_code }}</p>
        <p>Discount: {{ promo.discount_size }}%</p>
    </li>
    {% endif %}
    {% endfor %}
</ul>
{% endif %}



{% if promo_codes|length > 0 %}
<h2>Not available:</h2>
<ul type="disc">
    {% for promo in promo_codes %}
    {% if not promo.active %}
    <li itemscope itemtype="https://schema.org/Offer">
        <p>Description: {{ promo.name }}</p>
        <p>Promo nubmer: {{ promo.promo_code }}</p>
        <p>Discount: {{ promo.discount_size }}%</p>
    </li>
    {% endif %}
    {% endfor %}
</ul>
{% endif %}


<section>
    <p>Example of c++ code</p>
    <pre>
    <code>
    #include &lt;iostream&gt;;
    int main(){
        cout &lt;&lt; "Hello, world!";
    }
    </code>
</pre>

</section>

{% endblock %}