{% extends "base.html" %}
{% block title %}
Contacts
{% endblock %}
{% block content %}
{% load static %}
{% block additional_head %}
<link href="{% static 'css/staff.css' %}" rel="stylesheet">
{% endblock %}
<hr>
<section class="flex">{% for worker in staff %}
    <div class="card-wrapper">
        <section class="card" itemscope itemtype="https://schema.org/Person"><img src={{ worker.image.url }}
                alt="Employee Photo" height="200" width="200">
            <ul>
                <li itemprop="name">{{ worker.first_name }} {{ worker.last_name }}</li>
                <li itemprop="description"><small>Responsibilities: {{ worker.description }}</small></li>
                <li itemprop="telephone"><small>Phone: {{ worker.phone_number }} </small></li>
                <li itemprop="email"><small>Email: <a href="mailto:{{ worker.email }}">{{ worker.email }}</a></small>
                </li>
            </ul>
        </section>
    </div>

    {% endfor %}
</section>


<h2>Vacancies</h2>
<div class="img-simulator-float-left"></div>
<p itemscope itemtype="https://schema.org/JobPosting">
    <strong>Vacancy1, 1200-1500$
    </strong>
    <em>Responsibilities:</em> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo, ipsum est quidem
    quasi
    quis
    iste a? Amet numquam commodi dicta accusamus? Excepturi voluptates harum cupiditate repellat, consequatur
    qui
    facere deserunt.
    <br>
    <br>
    <em>Requirements:</em> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita nulla, quae
    cupiditate,
    mollitia reprehenderit amet reiciendis quis, repudiandae unde quibusdam iusto ut aspernatur possimus
    quaerat!
    Nesciunt illo a consequatur optio!
    <br>
</p>
<div class="img-simulator-float-right"></div>
<p itemscope itemtype="https://schema.org/JobPosting">
    <strong>Vacancy2, 800-900$
    </strong>
    <em>Responsibilities:</em> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius, excepturi?
    Assumenda,
    doloribus fuga. Sunt et, deserunt iure vel quibusdam est quia odio earum, veniam ullam recusandae,
    blanditiis
    aut autem eaque.
    <br>
    <br>
    <em>Requirements:</em> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non maxime labore quam
    laborum
    dignissimos cumque culpa numquam ipsum. Delectus veniam totam odio debitis sequi veritatis modi nihil
    inventore
    ipsam doloremque?
    <br>
</p>
<script src="{% static 'js/staff.js' %}" defer></script>
{% endblock %}