{% extends "base.html" %}
{% block title %}
{{ trip.name }}
{% endblock %}
{% block content %}
<section class="trip-detail" itemscope itemtype="http://schema.org/TouristTrip">
    <h1><strong>{{ trip.name }}</strong></h1>
    <p class="country" itemscope itemtype="http://schema.org/Country"><strong>{{ trip.country.name }}:</strong> climate description</p>
    <ul class="climate-descriptions">
        {% for climate_description in trip.country.climate_descriptions.all %}
        <li>{{ climate_description.season_name }}: {{ climate_description.climate_description }}</li>
        {% endfor %}
    </ul>
    <p class="chosen-hotel" itemscope itemtype="http://schema.org/Hotel"><strong>Hotel:</strong> {{ trip.chosen_hotel.name }}, <strong>per day:</strong> {{trip.chosen_hotel.price_per_day}}, <span itemprop="starRating"><strong>stars:</strong></span>
        {{trip.chosen_hotel.stars}}</p>
    <p class="duration"><strong>Trip duration:</strong> {{ trip.duration }} week(s)</p>
    <p class="departure-date"><strong>Departure date:</strong> {{ trip.departure_date }}</p>
    <p class="cost"><strong>Cost:</strong> {{ trip.cost }}</p>
    {%if user.is_authenticated%}
    <form action="{% url 'cart:cart_add' trip.id %}" method="post">
        <br>
        {% csrf_token %}
        <input type="submit" value="Add to cart">
        {{ add_to_cart_form.as_p }}
    </form>
    {%endif%}

    {%if user.is_staff%}
    <td><a href="edit_trip/{{trip.id}}/">Edit</a> | <a href="delete_trip/{{trip.id}}/">Remove</a></td>
    {%endif%}
</section>
{% endblock %}