{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>{% block title %}Home{% endblock %}</title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{% static '/images/logo.jpg'%}">
</head>

<body>
    <header>
        <a href="/info/main">Main</a>
        <a href="/">Home</a>
        <a href="/info/about">About</a>
        <a href="/info/news">News</a>
        <a href="/info/faq">FAQ</a>
        <a href="/info/staff">Contacts</a>
        <a href="/info/review/list">Reviews</a>
        <a href="/info/promo_codes">Promo codes</a>
        <a href="/cart/">Cart</a>
        <a href="/personal_account/">Personal account</a>
        <br>
        <p>Current date <span id='date'></span></p>
        <p>Current time <span id='time'></span></p>
        <p>Current time zone <span id='zone'></span></p>
        <div>
            {% if user.is_authenticated %}
            Hello, {{ user.username }}!
            <a href="{% url 'login:logout' %}">Log out</a>
            {% else %}
            <a href="{% url 'login:signup' %}">Sign up</a>
            <a href="{% url 'login:signin' %}">Sign in</a>
            {% endif %}
        </div>
        <script>
            const today = new Date();
            const yyyy = today.getFullYear();
            let mm = today.getMonth() + 1;
            let dd = today.getDate();
            let h = today.getHours();
            if (h < 10)
                h = '0' + h;
            let min = today.getMinutes();
            if (min < 10)
                min = '0' + min;
            let sec = today.getSeconds();
            if (sec < 10)
                sec = '0' + sec;

            if (dd < 10) dd = '0' + dd;
            if (mm < 10) mm = '0' + mm;

            let formattedToday = dd + '/' + mm + '/' + yyyy;
            let time = h + ":" + min + ":" + sec;
            let tz = -(new Date().getTimezoneOffset() / 60);
            if (tz > 0) {
                tz = "+" + tz;
            }
            tz = "UTC" + tz;
            document.getElementById('date').innerHTML = formattedToday;
            document.getElementById('time').innerHTML = time;
            document.getElementById('zone').innerHTML = tz;
        </script>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <div><a href="/info/privacy">Privacy policy</a></div>
        <div><span>&copy; 2023 Company, Inc</span></div>
    </footer>
</body>

</html>